<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head"></head>
    <body>
        <header th:replace="fragments :: header"></header>
        <main class="main">
            <side-nav th:replace="fragments :: side-nav"></side-nav>
            <div class="main-container">
                <div class="row d-flex py-4">
                    <h1 class="font-weight-bold text-center" >Physicians List</h1>
                </div>
                <div class="section-white-container">
                    <div class="row d-flex justify-content-end">
                        <a class="pr-4" href="/physicians/create">Add Physician</a>
                    </div>
                    <div class="row">
                            <h3 th:unless="${physicians} and ${physicians.size()}">There are no registered physicians!</h3>
                            <table th:if="${physicians.size()>0}" class="table table-hover">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Medical UUID</th>
                                <th>Department</th>
                                <th>Is GP</th>
        <!--                        <th>Practice Address</th>-->
                                <th>Edit</th>
                                <th>Delete</th>
                                <tr th:each="ph : ${physicians}">
                                    <td th:text="${ph.id}"></td>
                                    <td th:text="${ph.name}"></td>
                                    <td th:text="${ph.medicalUUID}"></td>
                                    <td th:text="${ph.departmentType}"></td>
                                    <td th:text="${ph.isGP}"></td>
        <!--                            <td th:text="${ph.practiceAddress}"></td>-->
                                    <td><a class="btn btn-info" th:href="@{'/physicians/update/'+${ph.id}}">Edit</a></td>
                                    <td><a class="btn btn-danger" th:href="@{'/physicians/delete/'+${ph.id}}">Delete</a></td>
                                </tr>
                            </table>
                        </div>
        <!--            </div>-->

                </div>
            </div>
        </main>
    </body>
</html>