<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>
    <main class="main">
        <side-nav th:replace="fragments :: side-nav"></side-nav>
        <div class="main-container">
            <div class="row d-flex py-4">
                <h1 class="font-weight-bold text-center" >Appointments List</h1>
            </div>
            <div class="section-white-container">
                <div class="row d-flex justify-content-end">
                    <a href="/appointments/create">Add Appointment</a>
                </div>
                <div class="row">
                        <h3 th:unless="${appointments} and ${appointments.size()}">There are no registered Appointments!</h3>
                        <table th:if="${appointments.size()>0}" class="table table-hover">
                            <th>ID</th>
                            <th>Date</th>
                            <th>Diagnosis</th>
                            <th>Patient</th>
                            <th>Physician</th>
                            <th>Sick Leave</th>
                            <th>Treatment</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <tr th:each="app : ${appointments}">
                                <td th:text="${app.id}"></td>
                                <td th:text="${app.date}"></td>
                                <td th:text="${app.diagnosis?.getName()}"></td>
                                <td th:text="${app.patient.getName()}"></td>
                                <td th:text="${app.physician.getName()}"></td>
<!--                                <td th:text="${app.sickLeave?.getDuration()}"></td>-->
                                <td>
                                    <a th:if="${app?.sickLeave?.getId() != null}" th:href="@{'/sick-leaves/update/'+${app?.sickLeave?.getId()}}">View Sick Leave</a>
                                </td>
                                <td>
                                    <a th:if="${app?.treatment?.getId() != null}" th:href="@{'/treatments/update/'+${app?.getTreatment()?.getId()}}">View Treatment</a>
                                </td>
<!--                                <td th:text="${app.treatment?.getName()}"></td>-->
                                <td><a class="btn btn-info" th:href="@{'/appointments/update/'+${app.id}}">Edit</a></td>
                                <td><a class="btn btn-danger" th:href="@{'/appointments/delete/'+${app.id}}">Delete</a></td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>