<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head"></head>
    <body>
        <header th:replace="fragments :: header"></header>
        <main>
            <side-nav th:replace="fragments :: side-nav"></side-nav>
            <div class="main-container">
                <div class="row d-flex py-4">
                    <h1 class="font-weight-bold text-center" >Create Appointment</h1>
                </div>
                <div class="section-white-container">
                    <div class="row">
                        <form class="w-100 p-2" action="#" th:action="@{/appointments/create}" th:object="${appointment}" method="post">
                            <div class="form-group">
                                <div class="row py-2">
                                    <div class="col">
                                        <label for="date">Date</label>
                                        <input class="form-control" type="date" th:field="${appointment.date}" placeholder="Date" id="date">
                                        <span class="text-danger" th:if="${#fields.hasErrors('date')}"
                                              th:errors="${appointment.date}">Date Error</span>
                                    </div>
                                    <div class="col">
                                        <label for="diagnosis">Diagnosis</label>
                                        <select class="form-control"  type="text" th:field="${appointment.diagnosis}" id="diagnosis">
                                            <option value="">Select Diagnose</option>
                                            <option th:each="diagnose : ${diagnosis}" th:value="${diagnose.id}" th:text="${diagnose.name}"></option>
                                        </select>
<!--                                        <input class="form-control" type="text" th:field="*{diagnosis}" placeholder="Diagnosis" id="diagnosis">-->
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <label for="patient">Patient</label>
                                        <select class="form-control"  type="text" th:field="${appointment.patient}" id="patient">
                                            <option value="">Select Patient</option>
                                            <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
                                        </select>
                                        <span class="text-danger" th:if="${#fields.hasErrors('patient')}"
                                              th:errors="${appointment.patient}">Patient Error</span>
<!--                                        <input class="form-control" type="text" th:field="*{patient}" placeholder="Patient" id="patient">-->
                                    </div>
                                    <div class="col">
                                        <label for="physician">Physician</label>
                                        <select class="form-control"  type="text" th:field="${appointment.physician}" id="physician">
                                            <option value="">Select Physician</option>
                                            <option th:each="physician : ${physicians}" th:value="${physician.id}" th:text="${physician.name}"></option>
                                        </select>
                                        <span class="text-danger" th:if="${#fields.hasErrors('physician')}"
                                              th:errors="${appointment.physician}">Physician Error</span>
<!--                                        <input class="form-control" type="text" th:field="*{physician}" placeholder="Physician" id="physician">-->
                                    </div>
                                </div>
                                <h3>Sick Leave Info: </h3>
<!--                                <input type="checkbox" th:name="addSickLeave" placeholder="Add Sick Leave"-->
<!--                                       th:checked="${addSickLeave}"-->
<!--                                       id="hasInsurance">-->
                                <div class="row py-2">
                                    <div class="col">
                                        <label for="start-date">Start Date</label>
                                        <input class="form-control" type="date" th:field="*{sickLeaveStartDate}" placeholder="Start Date" id="start-date">
                                    </div>
                                    <div class="col">
                                        <label for="duration">Duration</label>
                                        <input class="form-control" type="text" th:field="*{sickLeaveDuration}" placeholder="Duration" id="duration">
                                    </div>
<!--                                    <div class="col">-->
<!--                                        <label>Add Sick Leave</label>-->
<!--                                        <a th:href="@{'/sick-leaves/create/'}">Add Sick Leave</a>-->

<!--                                        &lt;!&ndash;                                        <select class="form-control"  type="text" th:field="${appointment.sick-leave}" id="sick-leave">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option value="">Select Sick Leave</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option th:each="physician : ${sick}" th:value="${physician.id}" th:text="${physician.name}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </select>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input class="form-control" type="text" th:field="*{sickLeave}" placeholder="Sick Leave" id="sick-leave">&ndash;&gt;-->
<!--                                    </div>-->
<!--                                    <div class="col">-->
<!--                                        <label for="treatment">Add Treatment</label>-->
<!--                                        <select class="form-control"  type="text" th:field="${appointment.treatment}" id="treatment">-->
<!--                                            <option value="">Select Treatment</option>-->
<!--                                            <option th:each="treatment : ${treatments}" th:value="${treatment.id}" th:text="${treatment.name}"></option>-->
<!--                                        </select>-->
<!--&lt;!&ndash;                                        <input class="form-control" type="text" th:field="*{treatment}" placeholder="Treatment" id="treatment">&ndash;&gt;-->
<!--                                    </div>-->
                                </div>
                                <h3>Treatment Info: </h3>
                                <div class="row py-2">
                                    <div class="col">
                                        <label for="treatmentName">Name</label>
                                        <input class="form-control" type="text" th:field="*{treatmentName}" placeholder="Treatment Name" id="treatmentName">
                                    </div>
                                    <div class="col">
                                        <label for="treatmentDescription">Description</label>
                                        <input class="form-control" type="text" th:field="*{treatmentDescription}" placeholder="Treatment Description" id="treatmentDescription">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
